<div class="min-h-screen p-4 sm:p-6 lg:p-8 relative overflow-hidden flex flex-col">
  <div class="absolute inset-0 bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJub25lIiBzdHJva2U9InJnYigwLDI1NSwyNTUsMC4wNSkiIHN0cm9rZS13aWR0aD0iMSI+PHBhdGggZD0iTTAgMTYgTCAzMiAxNiBNIDE2IDAgTCAxNiAzMiIgLz48L3N2Zz4=')] opacity-50"></div>
  <div class="container mx-auto max-w-screen-2xl relative flex-grow flex flex-col">
    <app-header class="flex-shrink-0"></app-header>
    <main class="mt-8 flex-grow flex flex-col">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>